<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login.html 입니다.</h1>
    <a href="{% url 'home' %}">home으로 이동하기</a>
    <br><br>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        username : 
        <input type="text" name="ID"><br>
        password :
        <input type="password" name="PW"><br>
        <input type="submit" value="로그인하기">
    </form>
    {{ error }}
</body>
</html>
<!-- GET POST -->
